/* ini css */

nav{
    display: flex;
}

nav a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 5px;
}

.logo-icon{
    height: 50px;
    width: 50px;
    /* background-image: url("assets\Logo Terserah MARI.png"); */
    background-size: cover;
    background-position: center;
    /* border-radius: 50%; */
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-banner{
    height: 250px;
    background-image: url();
    background-size: cover;
    background-position: center;
}

footer div{
    text-align: center;
    font-family: cursive;
    font-size: small;
    font-style: italic;
}


.colon span {
    display: inline-block;
    min-width: 99px;
  }

  .colon{
    margin-right: 20px;
    display: inline-flex;
    /* align-items: center; */
  }

  .border-form{
    border-radius: 5px;
    padding: 7px;
    width: 100%;
  }

  section {
    margin: 0px 90px 0px 90px;
  }

  .fit-form{
    padding-bottom: 5px;
    display: flex;
  }

  .message-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

  .message-container form{
    width: 100%;
    margin-right: 100px;
    flex: 1;
  }
  
  .margin-messageus{
    width: 100%;
    flex: 1;
    margin-left: 100px;
  }
